
*{
  margin:0;
  padding:0;
}

.adjust{
  margin: 0 auto;
}
.landing{
  height: 100vh;
  width: 100%;
  background: url(images/landing-photo.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  position: relative;
  font-family: 'Lexend Exa', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro{
  color: white;
  font-size: 3rem;
  border-style:  solid;
  border-width: 1.1px;
  border-color: #5c6973;
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;
  text-shadow: 1px 1px 8px #2a363f;
}

.profile-wrap{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6%;

}
.profile-intro{
  font-family: 'Work Sans', sans-serif;
  font-size: 3rem;
  text-shadow: 1px 1px 7px #BEC9CB;
  color: #195f8f;
  color: #257AB4;

}

.sub-intro{
  margin-top: 1%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}

.profile-desc{
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  color: #6F797B;
}
.underline{
  border-style: solid;
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;
  border-color: #D0D3D4;
  border-width: 1.3px;

}
.row{
  margin: 8% auto 0 auto;
  text-align: center;
  width: 70%;
}

.left-profile{
  padding-left: 5%;
}

.aboute-me-title{
  font-size: 2rem;
  color: #215ACC;
  font-weight: 400;
}
.about-me{
  font-family: 'Quicksand', sans-serif;
  color: #858788;
  text-align: left;
  width: 100%;
  margin: 3% auto 0 auto;
}
.avatar{
  width: 75%;
  border-radius: 100px;
  border-style: solid;
  border-color: #215ACC;
  border-width: 1px;
}


.personal-information{
  font-family: 'Quicksand', sans-serif;
  color: #858788;
  text-align: left;
  width: 100%;
  margin: 3% auto 0 auto;
}
.personal-information-title{
  font-size: 2rem;
  color: #215ACC;
  font-weight: 400;
  margin-bottom: 5%;
}

.point{
  margin-bottom: 5%;
}

.point span{
  font-weight: 500;
  color: #6A6C6D;
}
