
*{
  margin:0;
  padding:0;
}

.adjust{
  margin: 0 auto;
}
.landing{
  height: 100vh;
  width: 100%;
  background: url(images/landing-photo.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  position: relative;
  font-family: 'Lexend Exa', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro{
  color: white;
  font-size: 3rem;
  border-style:  solid;
  border-width: 1.1px;
  border-color: #5c6973;
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;
  text-shadow: 1px 1px 8px #2a363f;
}

.profile-wrap{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6%;

}
.profile-intro{
  font-family: 'Work Sans', sans-serif;
  font-size: 3rem;
  text-shadow: 1px 1px 7px #BEC9CB;
  color: #195f8f;
  color: #257AB4;
  color: #1F1B8C;

}

.sub-intro{
  margin-top: 1%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}

.profile-desc{
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  color: #6F797B;
}
.underline{
  border-style: solid;
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;
  border-color: #D0D3D4;
  border-width: 1.3px;

}
.rows{
  margin: 6% auto 0 auto;
  text-align: center;
  width: 70%;
}

.left-profile{
  padding-left: 5%;
}

.aboute-me-title{
  font-size: 2rem;
  color: #215ACC;
  font-weight: 400;
}
.about-me{
  font-family: 'Quicksand', sans-serif;
  color: #858788;
  text-align: left;
  width: 100%;
  margin: 3% auto 0 auto;
}
.avatar{
  width: 75%;
  border-radius: 100px;
  border-style: solid;
  border-color: #215ACC;
  border-width: 1px;
}


.personal-information{
  font-family: 'Quicksand', sans-serif;
  color: #858788;
  text-align: left;
  width: 100%;
  margin: 3% auto 0 auto;
}
.personal-information-title{
  font-size: 2rem;
  color: #215ACC;
  font-weight: 400;
  margin-bottom: 5%;
}

.point{
  margin-bottom: 5%;
}

.point span{
  font-weight: 500;
  color: #6A6C6D;
}

/*Experencie*/
.experencie-block{
  background-color: #ACF9EE;
  background-color: #9C6A41;
}
.experencie-wrap  {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
  margin-top: 8%;
  background-color: #ACF9EE;
  background-color: #9C6A41;
}

.experencie-intro{
  font-family: 'Work Sans', sans-serif;
  font-size: 3rem;
  text-shadow: 1px 1px 5px #72C5BA;
  text-shadow: 1px 1px 5px #7C583B;
  color: #1F1B8C;
}

.experencie-desc{
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  color: #6F797B;
  color: #D0C0B6;
  margin-top: 1%;
}

.experencie-points{
  margin: 3% 0 0 0;
  border-style: solid;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  border-color: #98B1AE;
  border-width: 1px;
}

.point-wrap{
  background-color: #ACF9EE;
  background-color: #9C6A41;

}

.points{
  width: 65%;
  margin: 4% auto 0 auto;
  border-style: solid;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  border-color: #B1825B;
  border-width: 1px;
}

.point-row{
  margin: 3% 0 0 0;
}

.experencie-sub-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #1F1B8C;
}
.point-title{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}


.desc-title{
  font-weight: 600;
  color: #3E2814;
}
.point-desc{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #DED0C7;
}

.last-row{
  padding-bottom: 10%;
}

/*skills*/

.skills-wrap{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
}


.skills-intro{
  font-family: 'Work Sans', sans-serif;
  font-size: 3rem;
  text-shadow: 1px 1px 7px #BEC9CB;
  color: #195f8f;
  color: #257AB4;
  color: #1F1B8C;
}

.skills-desc{
  font-size: 1.3rem;
  font-family: 'Quicksand', sans-serif;
  color: #6F797B;
  width: 68%;
}

.skill-points{
  width: 60%;
  margin: 5% auto 10% auto;
}

.abilities{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #1F1B8C;
  margin: 0 0 3% 0;
  text-align: center;

}

.ability{
  display: inline-block;
  width: 50%;
  font-size: 1.2rem;
}
.abbility-point{
  display: inline-block;
  width: 40%;
}

.ability-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #215ACC;
}

/*Proyect*/
.proyect-block{
  background-color: #9C6A41;
}
.proyect-wrap{
  text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 6%;
}

.proyect-title{
  font-family: 'Work Sans', sans-serif;
  font-size: 3rem;
  text-shadow: 1px 1px 5px #7C583B;
  color: #1F1B8C;
}


.proyect-desc{
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  color: #DED0C7;
}

.line{
  padding-top: 5%;
  border-style: solid;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  border-color: #B1825B;
  border-width: 1px;
}
.proyect-wrap{
  background-color: #9C6A41;
  width: 70%;
  margin: 3% auto 0 auto;
  padding-top: 3%;
}
.proyecto{
  width: 90%;
  margin: 0 auto 0 auto;
  background-color: #9C6A41;
}

.proyect-row{
  margin-bottom: 5%;
}

/*footer*/

footer{
  background-color: hsl(196, 53%, 9%);
  height: 300px;

}
